<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LMSGroup2.DAL.Properties.Settings.LMDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=LMDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>